body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.light {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3) inset, 0 0 20px 5px rgba(255, 255, 255, 0.3);
}

.light.on {
  background-color: yellow;
  box-shadow: 0 0 20px 5px rgba(255, 255, 0, 0.6) inset, 0 0 20px 5px rgba(255, 255, 0, 0.6);
}

button {
  margin-top: 20px; /* Adjust as needed */
}

body{background-color: black;}  